#hero{
    height: 100vh;
    width: 100vw;
    max-width: 90rem;
    margin: 0 auto;
    overflow: hidden;
    position: relative;

    .hero__image{
        position: absolute;
        top: 1rem;
        z-index: -1;
        right: 4rem;
        object-fit: contain;
        justify-content: center;
        max-width: 600px;
        max-height: 80vh;
    }

    .hero__content{
        height: 100vh;
        width: 100vw;
        max-width: 600px;
        padding: 2rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex-wrap: wrap;
        margin-top: -4rem;
    }

    .hero__button{
        max-width: 300px !important;
        padding: 1rem;
        margin: 1rem 0;
        border-radius: 25px;
        color: black !important;
        border: 1px solid black !important;
        transition: 0.8s ease;
    }

    .hero__button:hover{
        max-width: 325px !important;
        padding: 1rem;
        margin: 1rem 0;
        border-radius: 10px;
        color: white !important;
        background: black !important;
    }

}
